main {
  width: 100%;
	margin-top: 76px;
}
body, html {
    margin: 0;
    padding: 0;
}
a {
  cursor: pointer;
	text-decoration: none;
	color: black;
}
h1 {
	font-family: roboto;
	font-size: 20px;
	margin: 0px;
	padding: 0px;
}
h2 {
	font-family: roboto;
	font-size: 15px;
	margin: 0px;
}
h4 {
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 15px;
margin: 0px;
}
li {
	
}
ul {
	padding:0px;
	margin:0px;
}






.primary {
	background-color: #F7A48B;
}


.login-nav-bar{
	border-radius: 20px;
	background-color: white;
	padding: 10px;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}
.login-nav-bar:hover{
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.top-nav-bar {
	position: fixed;
  top: 0;
  box-shadow: 0px 1px 10px #999;
	height: 56px;
	z-index: 2;
	width: 100%;
}
.top-nav-bar a {
  color: black;
  text-decoration: none;
}
.left-float {
	 float:left;
 }
 .right-float{
	 float:right;
 }
 .top-nav-bar li {
	 display: inline;
	 margin: 0 10px;
	 line-height: 56px;
 }





 .sidebar-head{
	width: 100%;
	height: 112px;
  }
#sidebar-menu {
  position: fixed;
  background-color: white;
  left: -500px;
  top: 0px;
  width: 20%;
  height: 100%;
  z-index: 100;
  transition-duration: 1s;
}
.menu-sandwitch-inactive{
  transform: translateX(-500px);
}
.menu-sandwitch-active{
  transform: translateX(500px);
}

#clicker{
	z-index: 91;
	position: fixed;
	top: 0px;
	width: 100%;
	height: 100%;
}
#sidebar-menu-shadow{
	position: fixed;
	top: 0px;
	width: 100%;
	height: 100%;
	background-color: black;
}

.fade-in {
	animation: fadeIn ease 1s;
	-webkit-animation: fadeIn ease 1s;
	-moz-animation: fadeIn ease 1s;
	-o-animation: fadeIn ease 1s;
	-ms-animation: fadeIn ease 1s;
	z-index: 90;
	opacity: 25%;
	}
	@keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:0.25;}
	}
	
	@-moz-keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:0.25;}
	}
	.fade-out {
		animation: fadeOut ease 1s;
		-webkit-animation: fadeOut ease 1s;
		-moz-animation: fadeOut ease 1s;
		-o-animation: fadeOut ease 1s;
		-ms-animation: fadeOut ease 1s;
		z-index: -1000;
		opacity: 0;
		}

		@keyframes fadeOut {
		0% {opacity:0,25;}
		100% {opacity:0;}
		}
		
		@-moz-keyframes fadeOut {
		0% {opacity:0,25;}
		100% {opacity:0;}
		}

		
.sidebar-body-wrapper{
	position: fixed;
	width: 100%;
	height:100%;
  }
.drawer-li{
	position: relative;
	top: 5px;
	left: 5%;
	opacity: 70%;
	margin-right: 40px;
}
.sidebar-body-wrapper ul li:hover{
	background-color: rgb(223, 219, 219);
}
.sidebar-body-wrapper ul li h1{
	display: inline;
	opacity: 80%;
}
.sidebar-body-wrapper ul li{
	list-style-type: none;
	padding: 15px;
}
.sidebar-account-image {
	width: 70px;
	height: 70px;
	border-radius: 70px;
	margin: 21px 22px;
}




.card-container{
float: left;
padding: 12px 15px;
width: 326px;
height: 265px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 4px;
margin: 20px 20px;
}
.card-top {
}
.card-title {
	float: left;
	display: inline;
}
.card-price {
	float:right;
	display: inline-block;
}
.prezzo-scontato{
  text-decoration: line-through;
}
.card-image {
width: 100%;
height: 162px;
border-radius: 12px;
margin: 14px 0px;
}
.card-bottom {
	width: 100%;
}
.card-bottom >*{
	float: left;
	display: block;
	margin-right: 30px;
	line-height: 24px;

}
.counter-container *{
float: left;
display: block;
width: 24px;
text-align: center;
line-height: 24px;
}
.counter-container a{
	border-style: solid;
	border-width: thin;
	border-radius: 4px;
}
.card-buy-button {
width: 91px;
height: 28px;
background: #F7A48B;
line-height: 28px;
text-align: center;
border-radius: 2px;
float: right;
margin: 0px;
}
.products-card-container {
  padding: 20px;
  width: 1200px;
  margin: auto;
}
.snack-bar-container{
  width: 237px;
height: 58px;
left: 0px;
top: 0px;

background: rgba(142, 72, 52, 0.75);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 50px;
}
